@media screen and (max-width: 500px) {
  .search {
    padding: 0px 30px;

    > .inp {
      height: 45px;

      > input {
        font-size: 14px !important;

        &::-webkit-input-placeholder {
          font-size: 14px !important;
          font-weight: 600;
          color: #898989;
        }
      }

      > .search-type {
        width: 60px !important;
        font-size: 14px !important;
      }
    }

  }
}

*::-webkit-scrollbar {
  display: none;
}

@media screen and (min-width: 501px) {
  .search {
    width: 50%;
    max-width: 600px;
    min-width: 300px;

    > .inp {
      width: 100%;
      height: 50px;
    }
  }
}


* {
  margin: 0px;
  padding-left: 0px;
}

#root {
  position: fixed;
  top: 0px;
  width: 100vw;
  height: 100vh;
  background: url("https://img.tshy.xyz/5759") no-repeat center/cover;
  overflow: hidden;
}

.main-page {
  position: fixed;
  width: 100vw;
  height: 100vh;
  transition: all 500ms;

  > .search {
    margin: auto;
    transition: all 500ms;

    > .inp {
      border: none;
      overflow: hidden;
      border-radius: 50px;
      background: aliceblue;
      margin: 20vh auto auto;
      display: flex;


      > .search-type {
        width: 80px;
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        font-weight: 600;
        cursor: pointer;

        > img {
          width: 26px;
          height: 26px;
        }
      }

      > input {
        flex: 7;
        height: 100%;
        border: none;
        outline: none;
        padding: 0px 15px;
        font-size: 16px;
        font-weight: 600;
        text-overflow: ellipsis;

        &::-webkit-input-placeholder {
          font-size: 16px;
          font-weight: 600;
          color: #898989;
        }
      }
    }

    > .sou {
      position: relative;
      margin-top: 10px;
      margin-left: calc(2% - 8px);
      width: 300px;

      transform: scale(0);
      transition: all 300ms;

      > .sou-main {
        display: flex;
        justify-content: space-around;
        background-color: #ffffff;
        border-radius: 50px;
        height: 40px;
        transition: all 500ms;
        align-items: center;

        > img {
          width: 25px;
          height: 25px;
          cursor: pointer;
        }


        &::after {
          position: absolute;
          content: " ";
          width: 12px;
          height: 12px;
          background-color: #ffffff;
          top: -5px;
          left: 30px;
          transform: rotate(45deg);
          border-radius: 2px;
          z-index: -1;
        }
      }
    }
  }
}

.drawer {
  position: fixed;
  height: 70%;
  width: 100vw;
  bottom: 0;
  transform: translateY(100%);
  transition: all 500ms;
  background: rgba(255, 255, 255, 0.56);
  border-radius: 15px 15px 0 0;
  opacity: 0;

  > .drawer-main {
    margin-top: 20px;
    position: absolute;
    width: 100%;
    overflow-y: scroll;
    height: calc(100% - 20px);
    padding: 0 0px;

    > .x-list {
      > .title {
        margin-left: 15px;
        font-size: 17px;
        color: #383838;
      }
    }

    > .x-list > .y-list {
      margin-top: 20px;
      display: flex;
      flex-wrap: wrap;

      > .dreaer-list {
        width: 25%;
        height: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;

        > .img {
          pointer-events: none;
          width: 50px;
          height: 50px;
          border-radius: 50px;
          background-color: azure;
          display: flex;
          align-items: center;
          justify-content: center;

          > img {
            object-fit: cover;
            width: 20px;
            height: 20px;
          }
        }

        > .iconf {
          font-size: 30px;
          width: 60px;
          height: 60px;
          border-radius: 5px;
          object-fit: cover;
          background-color: azure;
          display: flex;
          align-items: center;
          justify-content: center;
          font-weight: 500;
        }

        > .name {
          pointer-events: none;
          width: 70px;
          margin-top: 5px;
          font-size: 12px;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          text-align: center;
        }
      }
    }
  }
}

.show {
  transform: translateY(0%) !important;
  opacity: 1;
}

.souShow {
  transform-origin: left top;
  transform: scale(1) !important;
}

body {
  position: fixed;
  top: 0px;
  height: 100vh;
  width: 100vw;
  overscroll-behavior-y: contain;
}

.moveUp {
  transform: translateY(-100px);
}


.menu_add {
  > .el-input {
    margin-bottom: 15px;
  }
}

.el-dialog {
  border-radius: 10px;
  z-index: 9999;
}


.tabar {
  position: fixed;
  width: 90px;
  border-radius: 0 5px 5px 5px;
  overflow: hidden;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
  user-select: none;
  z-index: 9999;

  > div {
    height: 30px;
    display: flex;
    align-items: center;
    font-weight: 300;
    font-size: 15px;

    &:hover {
      color: goldenrod;
      cursor: pointer;
    }
  }
}

.bottomtab {
  position: absolute;
  bottom: 10px;
  width: 100vw;

  > .al {
    padding-right: 15px;
    margin: auto;
    height: 70px;
    border-radius: 16px;
    background: rgba(255, 255, 255, .1);
    backdrop-filter: blur(10px);
    transition: all 300ms;
    display: flex;
    align-items: center;

    > div {
      flex-shrink: 0;
      width: 50px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgba(255, 255, 255, 0.65);
      border-radius: 5px;
      margin-left: 15px;

      > span {
        font-size: 20px;
        font-weight: 900;
      }

      > img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
      }
    }
  }
}

.shows {
  opacity: 0;
}
